In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time

In [2]:
# Files to load
load_wine_2020 = "Complete_annual_dataframes/Complete_2020.csv"# Files to load
load_states = "../state_covid_info/Complete_states.csv"

In [3]:
# Read load_wine_2020 into a DataFrame
wine = pd.read_csv(load_wine_2020, index_col=[0])
wine.head()

,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [4]:
# Read load_states into a DataFrame
states = pd.read_csv(load_states, index_col=[0])
states.head()

,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
State,,,,,
AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [ ]:
#Join wine and states df on "State"
joined_wine_state = pd.dataframe.join(on="State")
joined_wine_state