In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
# Load data
file = 'converted_datatypes.csv'
df = pd.read_csv(file)
df.head()

,Company Name,Ship Date,City,State,Shipping Service,Created Date,Weight,Item/Bottle Count
0,1,43952.87139,1555,34,5,43940.85348,10.5,3
1,1,43952.87149,5113,44,1,43943.52123,20.2,6
2,1,43952.87149,1341,5,9,43945.43794,20.2,6
3,1,43952.87148,4881,4,4,43945.60456,10.5,3
4,1,43952.87148,4984,44,1,43947.43795,39.0,12

In [3]:
# split into features and target
X = df.drop('Item/Bottle Count', axis=1)
y = df['Item/Bottle Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [4]:
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)
rf_model = rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)

In [5]:
results = pd.DataFrame({
    "Prediction":rf_predictions,
    "Actual":y_test
}).reset_index(drop=True)
results

      Prediction  Actual
0             12      12
1              6       6
2              4       4
3             12      12
4             12      12
...          ...     ...
8053           1       1
8054          12      12
8055          12      12
8056           3       3
8057          12      12

[8058 rows x 2 columns]

In [8]:
print(accuracy_score(y_test,rf_predictions))

0.988210474063043