In [1]:
import pandas as pd

In [2]:
# Read the csv files for each year's wine shipment info
#year2019_df = pd.read_csv('dataframe/Complete_annual_dataframes/Complete_2019.csv')
year2020_df = pd.read_csv('data_frame/Complete_annual_dataframes/Complete_2020.csv')
year2021_df = pd.read_csv('data_frame/Complete_annual_dataframes/Complete_2021.csv')
states = pd.read_csv("state_covid_info/Complete_states.csv")

# Merge data in all files into one
winedemic_df = pd.concat([year2020_df, year2021_df])

# view new combined data frame
winedemic_df.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
0,0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,1/1/20,9.9,3.0
1,1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,12/31/19,35.0,10.0
2,2,2,Ecom3,1/2/20,New York,NY,10022,FEH,1/1/20,29.0,8.0
3,3,3,Ecom3,1/3/20,New York,NY,10006,FEH,1/2/20,21.5,6.0
4,4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,12/31/19,41.0,12.0

In [3]:
states.head()

,State,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,AK,"731,545",3/23/2020,3/30/2020,4/24/2020,Red
1,AL,"4,903,185",4/4/2020,4/30/2020,4/30/2020,Red
2,AR,"3,017,804",3/15/2020,3/27/2020,6/5/2020,Red
3,AZ,"7,278,717",4/30/2020,5/15/2020,5/18/2020,Blue
4,CA,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue

In [4]:
# view new combined data frame
winedemic_df.tail()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count
242646,242646,242646,Ecom2,12/30/2021,Oakwood,IL,61858,FEH,12/30/2021,7.0,2.0
242647,242647,242647,Ecom2,12/30/2021,Wonder Lake,IL,60097,FEH,12/30/2021,7.0,2.0
242648,242648,242648,Ecom2,12/30/2021,Charlestown,MA,2129,UPS,12/30/2021,7.0,2.0
242649,242649,242649,Ecom2,12/30/2021,Washington,DC,20002,FEH,12/30/2021,7.0,2.0
242650,242650,242650,Ecom2,12/30/2021,Delray Beach,FL,33446,FEH,12/30/2021,7.0,2.0

In [5]:
# Convert 'Created Date' into three columns (Year, Month, Day)
winedemic_df['Created Date'] = pd.to_datetime(winedemic_df['Created Date'], infer_datetime_format=True)
winedemic_df['Year'] = winedemic_df['Created Date'].dt.year
winedemic_df['Month'] = winedemic_df['Created Date'].dt.month
winedemic_df['Day'] = winedemic_df['Created Date'].dt.day

In [6]:
winedemic_df.columns

Index(['Unnamed: 0', 'Order Number', 'Company Name', 'Ship Date', 'City',
       'State', 'Zip', 'Shipping Service', 'Created Date', 'Weight',
       'Item/Bottle Count', 'Year', 'Month', 'Day'],
      dtype='object')

In [7]:
winedemic_df.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Year,Month,Day
0,0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,2020-01-01,9.9,3.0,2020,1,1
1,1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,2019-12-31,35.0,10.0,2019,12,31
2,2,2,Ecom3,1/2/20,New York,NY,10022,FEH,2020-01-01,29.0,8.0,2020,1,1
3,3,3,Ecom3,1/3/20,New York,NY,10006,FEH,2020-01-02,21.5,6.0,2020,1,2
4,4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,2019-12-31,41.0,12.0,2019,12,31

In [9]:
#Join states and wine on "State"
winedemic_df = winedemic_df.join(states.set_index ("State"), on = "State")
winedemic_df.head()

,Unnamed: 0,Order Number,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
0,0,0,Ecom3,1/2/20,Plantation,FL,33325,UPS,2020-01-01,9.9,3.0,2020,1,1,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red
1,1,1,Ecom3,1/2/20,Lafayette,CA,94549,UPS,2019-12-31,35.0,10.0,2019,12,31,"39,512,223",3/19/2020,4/2/2020,5/13/2020,Blue
2,2,2,Ecom3,1/2/20,New York,NY,10022,FEH,2020-01-01,29.0,8.0,2020,1,1,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
3,3,3,Ecom3,1/3/20,New York,NY,10006,FEH,2020-01-02,21.5,6.0,2020,1,2,"19,453,561",3/22/2020,4/6/2020,6/8/2020,Blue
4,4,4,Ecom3,1/2/20,Walkersville,MD,21793,FXG,2019-12-31,41.0,12.0,2019,12,31,"6,045,680",3/12/2020,3/27/2020,5/13/2020,Blue

In [10]:
winedemic_df = winedemic_df.set_index("Order Number")

In [11]:
winedemic_df.tail()

,Unnamed: 0,Company Name,Ship Date,City,State,Zip,Shipping Service,Created Date,Weight,Item/Bottle Count,Year,Month,Day,Population,Lockdown Start,Initial Expected Lockdown End,Phase 1 Re-Opening Start,Political Alignment
Order Number,,,,,,,,,,,,,,,,,,
242646,242646,Ecom2,12/30/2021,Oakwood,IL,61858,FEH,2021-12-30,7.0,2.0,2021,12,30,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
242647,242647,Ecom2,12/30/2021,Wonder Lake,IL,60097,FEH,2021-12-30,7.0,2.0,2021,12,30,"12,671,821",3/20/2020,3/30/2020,5/5/2020,Blue
242648,242648,Ecom2,12/30/2021,Charlestown,MA,2129,UPS,2021-12-30,7.0,2.0,2021,12,30,"6,892,503",3/23/2020,3/31/2020,5/18/2020,Blue
242649,242649,Ecom2,12/30/2021,Washington,DC,20002,FEH,2021-12-30,7.0,2.0,2021,12,30,"705,749",4/1/2020,4/24/2020,5/29/2020,Blue
242650,242650,Ecom2,12/30/2021,Delray Beach,FL,33446,FEH,2021-12-30,7.0,2.0,2021,12,30,"21,477,737",4/1/2020,5/1/2020,9/25/2020,Red

In [13]:
# Export Dataframe into Excel file
winedemic_df.to_csv("winedemic_complete.csv", index=False)